/* =======================================================================
/* ##################### MAIN COMMON CSS FILE ##########################
======================================================================= */
// The mixins file is located at:

// Import mixin file from:
// gulp\node_modules\node-neat\node_modules\node-bourbon\assets\stylesheets\_bourbon.scss

// Copy & paste "_mixins.scss" inside:
// gulp\node_modules\node-neat\node_modules\node-bourbon\assets\stylesheets\addons\_mixins.scss

body{
    color:$color--darkergrey;
    background: $color--bg;
    @include size(100%);
    font-family: $font-family--din-light;
    @include font-size(16);
}

section{
    @include border-radius(4px);
    @include linear-gradient(to top, #000, #666);
    @include outer-container;
    aside {
        @include span-columns(4);
        border-right: 1px solid $color--lightergrey;
    }

    article {
        @include span-columns(9);
    }
    p{
        @include ellipsis(90%);
        @include hide-text();
    }
    button{
        @include shiny(red);
        color: #fff;
        &:hover{
            color:$hover-link-color;
        }

    }
    div.triangle{
        @include triangle (100px, orange, right)
    }
    div.circle{
        @include circle(150px);
        background: #0058B0;
    }
    width: $smaller;
}
/* =======================================================================
/* ##################### END COMMON CSS FILE ##########################
======================================================================= */
