/* =======================================================================
/* ##################### MEDIAQUERIES FILE ##########################
======================================================================= */
.mediaqueries{
    display: block;
    background: #000;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}
@media screen and (min-width: $tiny){
    .mediaqueries:after{
        content:'mobile phone 320px';
        background :red;
    }
}
@media screen and (min-width: $smaller){
    .mediaqueries:after{
        content:'phablet min-width : 480px';
        background :green;
    }
}
@media screen and (min-width: $small){
    .mediaqueries:after{
        content:'small tablet min-width : 600px';
        background :orange;
    }
}
@media screen and (min-width: $medium)
{
    .mediaqueries:after{
        content:'tablet min-width: 760px';
        background :purple;
    }
}
@media screen and (min-width: $regular)
{
    .mediaqueries:after{
        content:'regular Desktop size: min-width 900px';
        background : yellow;
        color:#000;
    }
}
@media screen and (min-width: $large)
{
    .mediaqueries:after{
        content: 'large Desktop size: min-width  : 1100px;';
        background :blue;
        color: white;
    }
}
@media screen and (min-width: $extra-large)
{
    .mediaqueries:after{
        content:'extra-large : min-width 1300px';
        background : brown;
    }
}
    // $tiny           :  320px;
    // $smaller        :  480px;
    // $small          :  600px;
    // $medium         :  760px;
    // $regular        :  900px;
    // $large          : 1100px;
    // $extra-large    : 1300px;
