/* =======================================================================
/* ####################### TYPOGRAPHY SASS FILE ##########################
======================================================================= */
// Typography
// sans-serif

$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucidagrande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$verdana: Verdana, Geneva, sans-serif;

// serif

$baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$lucidabright: "Lucida Bright", Georgia, serif;
$tnr: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

// monospaced

$consolas: Consolas, monaco, monospace;
$courier: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$monaco: Monaco, Consolas, "Lucida Console", monospace;
$font-family--din-light: 'DINLightRegular', 'Helvetica', Arial, sans-serif;

// Font-size
$base-font-size: 1em; // 16px
$base-line-height: $base-font-size * 1.5;
$font-size--152: $base-font-size * 9.5;
$font-size--91: $base-font-size * 5.7;
$font-size--34: $base-font-size * 2.1;
$font-size--25: $base-font-size * 1.55;
$font-size--22: $base-font-size * 1.35;
$font-size--15: $base-font-size * 0.95;
$font-size--12: $base-font-size * 0.75;
$font-size--11: $base-font-size * 0.7;

// Font face
@font-face {
    font-family: 'DINLightRegular';
    src: url('../css/fonts/din-light-webfont.eot');
    src: url('../css/fonts/din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/din-light-webfont.woff') format('woff'),
         url('../css/fonts/din-light-webfont.ttf') format('truetype'),
         url('../css/fonts/din-light-webfont.svg#DINLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*******************************************************/
/* General
/*******************************************************/

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  margin: 0;
  line-height: 1.25em;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

p {
  margin: 0 0 ($base-line-height * .5);
}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
