
// Colors
$color--darkergrey: #1c1c1c;
$color--lightergrey: #e5e5e5;
$color--lightgrey: #cccccc;
$color--red: #d30c0c;
$color--bg : #fff;

// Font Colors
$base-font-color: #000;
$base-accent-color: #ccc;

// Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: black;

// Path
$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
$mediaPath : "../medias/";

// -- branding -------------------------
    $base-color: orange;
    $comp-color: green;
    $tertiary-color: red;
    $alt-1: #777777;
    $alt-2: #CCCCCC;
    $white: #FFFFFF;
    $black: #000000;

// -- links ----------------------------
    $link-color: red;
    $link-color-hover: darken($link-color, 10);
    $link-color-visited: $link-color-hover;
    $link-color-focus: darken($link-color-hover, 10);

// -- errors & info --------------------
    $success-color: #5CB85C;
    $info-color: #5BC0DE;
    $warning-color: #F0AD4E;
    $danger-color: #D9534F;

// -- labels, copy-classes, alerts -----
    $default-color: #999999;
    $muted-color: #F3F3F3;
    $primary-color: #428BCA;

// --- selection colours ---------------
    $selection: $link-color;
    $selection-text: #FFF;

// -- button colors --------------------
    $button-color: $white;
    $button-bg-color: $base-color;

// -- Border Radius --------------------
    $radius-sml: 4px;
    $radius-med: 8px;
    $radius-lrg: 12px;
// -- Media Queries --------------------
    $tiny           :  320px;
    $smaller        :  480px;
    $small          :  600px;
    $medium         :  760px;
    $regular        :  900px;
    $large          : 1100px;
    $extra-large    : 1300px;
// -- flow -----------------------------
